html {
  padding: 0;
  margin: 0;
  height:100%;
  width: 100%;
  color: blue;
  background-color:#222222;
  
}
body{	
	padding: 0;
        margin: 0;
	height:100%;
	width: 100%;
	background: -webkit-linear-gradient(#130E97, #C0BFFD);
  	/* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#130E97, #C0BFFD);
  	/* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#130E97, #C0BFFD);
  	/* For Firefox 3.6 to 15 */
  	background: linear-gradient(#130E97, #C0BFFD);
	
img {
  visibility: visible !important;
  display: block !important;
  opacity: 0;
}

img, canvas {
  position: absolute;
  top: -40px;
  left: -35px;
  background: transparent;
}

canvas {
  opacity: 1;
}
