body, html {
  padding: 0;
  margin: 0;
  color: blue;
  background: linear-gradient(to bottom, rgba(64,58,248,100), rgba(153,151,255,100));
}
body{
	height:50%;
	width: 50%;
}
img {
  visibility: visible !important;
  display: block !important;
  opacity: 0;
}

img, canvas {
  position: absolute;
  top: -30px;
  left: -25px;
  background: transparent;
}

canvas {
  opacity: 1;
}
